#cart
{
    position: absolute;
    left: 90%;
    top: 5%;
          z-index: 2;
    
}
#cartlogo{
    z-index: 5;
}
#cartlogo{
    color: white;
    font-size: 40px;
    
}
#cartcontainer{
    background-color: #9599a3;
    width: 350px;
    height: 80px;
    margin-left: -300px;
    margin-top: 20px;
    border-radius: 5px;
    display: none;
}
#cartcontainer p{
    font-family: sans-serif;
    color: #1c1c1c;
    padding: 8px;

}
.fa-caret-up
{
       color: #9599a3;
    position: absolute;
    margin-top: -36px;
    margin-left: 305px;
    font-size: 70px;
/*        display: none;*/
}
.want{
    width: 300px;
    height: 70px;
    background-color: red;
    margin: 0 auto;
    margin-top: 15px;
    z-index: 2;
}
.cartimg{
    width: 70px;
        float: left;

}
.iteminfo{
    float: left;
    margin-left: 20px;
}
.itemname{

}
.del{
    font-size: 30px;
    margin-top: 20px;
    float: right;
    margin-right: 10px;
    cursor: pointer
}
.itemimg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 70px;
    height: 100%;
    float: left;
}